@media screen and (max-width: 560px) {
 .logo2 {
   display: none;
 }

  .nav-open {
    position: fixed;
    display: block;
    right: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    i {
      display: block;
      width: 20px;
      height: 2px;
      background: white;
      border-radius: 2px;
      margin-left: 14px;
      &:nth-child(1){
        margin-top: 16px;
      }
      &:nth-child(2){
        margin-top: 4px;
      }
      &:nth-child(3){
        margin-top: 4px;
      }
    }
  }
}

nav ul {
  padding: 0;
  li {
    display: inline-block;
  }
}

.hidden {
  display: none;
}